<div class="dashboard">
	<div class="row">
		<div class="col-md-6">
			<form [formGroup]="controls">
				<div class="form-group form-inline">
					<label for="refresh-time">Refresh time (in seconds):</label>
					<input id="refresh-time" type="number" class="form-control" formControlName="refreshTime">
					<div class="refresh" *ngIf="isRefreshing()"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 block" *ngFor="let service of services">
			<app-card [service]="service"></app-card>
		</div>
	</div>
</div>
